/*
    colors:
        red: #e62739,                   (230,39,57)
        green: #6ed3cf,                 (110,211,207)
        purple: #9068be,                (144,104,190)
        grey: #e1e8f0,                  (225,232,240)
        dark grey (black): #343a40      (52,58,64)
*/

.discount-details-image{
    height: 35rem;
}

.red-button{
    background-color: #e62739;
    border-color: #e62739;
    opacity: 0.9;
}

.red-button:hover{
    background-color: #e62739;
    border-color: #e62739;
    opacity: 1;
}

.red-button:active{
    background-color: #e62739;
    border-color: #e62739;
    opacity: 1;
}

.banner{
    opacity: 0.3;
}

.banner-button{
    background-color: #e62739;
    border-color: #e62739;
    position: absolute;
    top: 28.5rem;
    left: 77rem;
    opacity: 0.9;
    width: 20rem;
}

.banner-button:hover{
    background-color: #e62739;
    border-color: #e62739;
    opacity: 1;
}

.banner-logo{
    position: absolute;
    top: 21rem;
    left: 20rem;
    border-bottom: 2px #e62739 solid;
}

.text-banner{
    height: 20rem;
}

.title{
    font-size: 1.5rem;
}

.small-title{
    font-size: 1.1rem;
}

.medium-title{
    font-size: 1.3rem;
}

.text-explain-banner{
    height: 2.5rem;
    font-size: 1.5rem;
    color: black;
}

.site-map{
    height: 20rem;
}

.custom-link{
    opacity: 0.9;
}

.custom-link:hover{
    opacity: 1;
}

.custom-link-text-purple{
    color: #9068be;
    text-decoration: none;
    opacity: 0.9;
}

.custom-link-text-purple:hover{
    color: #9068be;
    text-decoration: none;
    opacity: 1;
}

.custom-link-text{
    color: black;
    text-decoration: none;
    opacity: 0.9;
}

.custom-link-text:hover{
    color: black;
    text-decoration: none;
    opacity: 1;
}

.nav-color{
    background-color: #f2f2f2;
}

.link{
    font-weight: bold;
    cursor: pointer;
}

.link:hover{
    font-weight: bold;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 1rem;
}

.text-bold{
    font-weight: bold;
}

.list-title-height{
    height: 5rem;
}

.profile-list-item{
    width: 60rem;
}

.profile-list-button{
    display: inline;
}

.background-white{
    background-color: #f2f2f2;
}

.background-red{
    background-color: #e62739;
}

.background-red-light{
    background-color: rgba(230, 39, 57, 0.9)
}

.background-green{
    background-color: rgba(110, 211, 207, 0.2);
}

.background-purple{
    background-color: #9068be;
}

.background-black{
    background-color: #343a40;
}

.background-black-light{
    background-color: rgba(52, 58, 64, 0.8);
}

.color-red{
    color: #e62739;
}

.color-green{
    color: #6ed3cf;
}

.color-purple{
    color: #9068be;
}

.color-white{
    color: #f2f2f2;
}

.item-details-image{
    height: 51rem;
}

.filter-height{
    height: 43.5rem;
}

.pagination > li > a
{
    background-color: #f2f2f2;
    color: #e62739;
    opacity: 0.9;
}

.pagination .active{
    color: #f2f2f2;
    background-color: #e62739;
    border-color: #e62739;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > a:active,
.pagination > li > a:checked,
.pagination > li > a:target,
.pagination > li > span:focus,
.pagination > li > span:hover,
.pagination > li > span:active,
.pagination > li > span:checked
{
    color: #f2f2f2;
    background-color: #e62739;
    border-color: #e62739;
}
